<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comphca.mycounterback.dao.TradeMapper" >
      <resultMap id="TradeBaseResultMap" type="com.comphca.mycounterback.pojo.TradeInfo" >
        <constructor >
          <idArg column="VC_CUSTNO" jdbcType="VARCHAR" javaType="java.lang.String" />
          <arg column="vc_customname" jdbcType="VARCHAR" javaType="java.lang.String" />
          <arg column="vc_code" jdbcType="VARCHAR" javaType="java.lang.String" />
          <arg column="en_requestBalance" jdbcType="BIGINT" javaType="java.lang.Long" />
          <arg column="en_requestShare" jdbcType="BIGINT" javaType="java.lang.Long" />
          <arg column="VC_TRADEDATE" jdbcType="VARCHAR" javaType="java.lang.String" />
          <arg column="C_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
          <arg column="VC_EXPLAIN" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
      </resultMap>

      <resultMap id="TradeVOInfo" type="com.comphca.mycounterback.vo.TradeInfoVo">
          <constructor>
              <arg column="VC_REQUESTDATE" jdbcType="VARCHAR" javaType="java.lang.String"></arg>
              <arg column="VC_CODE" jdbcType="VARCHAR" javaType="java.lang.String"></arg>
              <arg column="VC_FUNDNAME" jdbcType="VARCHAR" javaType="java.lang.String"></arg>
              <arg column="EN_REQUESTBALANCE" jdbcType="BIGINT" javaType="java.lang.Long"></arg>
              <arg column="C_DIRECTION" jdbcType="VARCHAR" javaType="java.lang.String"></arg>
              <arg column="C_STATUS" jdbcType="VARCHAR" javaType="java.lang.String"></arg>
          </constructor>
      </resultMap>




    <insert id="insertTradeInfo" parameterType="map">
        insert into t_request
        (vc_requestno, vc_custno, vc_code, vc_customname, c_direction,
         en_requestBalance, c_status, vc_requestdate, vc_requesttime,
         vc_explain)
        values
        (#{requestno},#{custno},#{code},#{customname},#{direction},
         #{requestBalance},#{status},date_format(now(), '%Y%m%d'),date_format(now(),'%H%i%S'),
         #{explain})
    </insert>


    <select id="getTradeInfo" resultType="string" parameterType="string">
        select
        vc_custno
        from t_request
        where vc_customname = #{sCustNo}
    </select>




    <select id="selectCurrentDateTrade" resultMap="TradeVOInfo">
        select t1.VC_REQUESTDATE,t1.VC_CODE,t2.VC_FUNDNAME,t1.EN_REQUESTBALANCE,t1.C_DIRECTION,t1.C_STATUS
        from t_request t1,t_stock t2 where t1.VC_CODE = t2.VC_CODE and t1.vc_requestdate = date_format(now(), '%Y%m%d')
    </select>





</mapper>




